<div class="top-item-container">
  <button mat-stroked-button class="back-button">戻る</button>
  <label
    ><button mat-stroked-button class="copy-button">コピー</button
    >{{ roomKey }}</label
  >
</div>

<div class="participants-box" style="display: flex">
  <p *ngFor="let user of this.users | async">{{ user.name }}</p>
</div>

<div class="button-container">
  <button
    mat-raised-button
    (click)="startGame()"
    color="accent"
    class="start-button"
    *ngIf="isHost"
  >
    開始
  </button>
  <button mat-raised-button (click)="test()"></button>
</div>
