<div class="top-item-container">
  <button mat-stroked-button class="back-button">戻る</button>
  <label><button mat-stroked-button class="copy-button">コピー</button>123456(部屋キー)</label>
</div>

<div class="participants-box" style="display: flex;">
  <div id="r1"></div>
  <div id="r2"></div>
  <div id="r3"></div>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>あいうえお</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
  <p>かきくけこ</p>
  <p>さしすせそ</p>
</div>

<div class="button-container">
  <button mat-raised-button color="accent" class="start-button">開始</button>
</div>
