<div class="top-item-container">
  <button mat-stroked-button class="back-button" (click)="backTop()">
    戻る
  </button>
  <label
    ><button mat-stroked-button class="copy-button" (click)="copyRoomkey()">
      コピー</button
    >{{ roomKey }}</label
  >
</div>

<div class="participants-box" style="display: flex">
  <p *ngFor="let user of this.users | async">{{ user.name }}</p>
</div>

<div class="countdown" [ngStyle]="countFontSize" *ngIf="countdown">
  {{ countdown }}
</div>

<div class="button-container">
  <button
    mat-raised-button
    (click)="hostStartGame()"
    color="accent"
    class="start-button"
    *ngIf="isHost"
  >
    開始
  </button>
</div>
