<div class="page-size">
  <mat-card class="content">
    <mat-card-content class="field-container">
      <mat-card-title class="title"><h1>アカウント作成</h1></mat-card-title>

      <mat-form-field class="comment-input">
        <input [(ngModel)]="newEmail" matInput placeholder="Email" />
      </mat-form-field>
      <mat-form-field class="comment-input">
        <input
          [(ngModel)]="newPassword"
          matInput
          type="password"
          placeholder="パスワード"
        />
      </mat-form-field>
      <mat-card-actions class="actions-container">
        <button (click)="onSubmit()" mat-raised-button color="accent">
          送信
        </button>
      </mat-card-actions>
    </mat-card-content>
    <div class="button-under-spacer"></div>
    <mat-card-footer>
      <a routerLink="/signin">ログイン</a>
    </mat-card-footer>
  </mat-card>
</div>
