<div class="quiz-sentence-container">
  <h1 class="quiz-title">問題 {{ quizCount }}</h1>
  <p class="quiz-sentence">{{ statement }}</p>
</div>

<div class="answer-form-container">
  <div class="field-button-container">
    <mat-form-field
      color="accent"
      class="answer-field-width answer-field-margin"
    >
      <mat-label>回答を入力</mat-label>
      <input
        matInput
        type="number"
        maxlength="8"
        [(ngModel)]="answer"
        (keydown.enter)="checkAnswer()"
      />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="checkAnswer()">
      回答
    </button>
  </div>

  <mat-progress-bar
    class="time-margin time-size"
    color="accent"
    mode="determinate"
    [value]="(remainingTime / starttimeLimit) * 100"
  >
  </mat-progress-bar>

  <span class="time-text">
    <span>time</span>
    {{ remainingTime }}s
  </span>
</div>
