<div class="page-size">
  <div class="top-menu">
    <div class="title">binaryQuestOnline</div>
    <mat-chip class="user-name-chip">{{ name }}</mat-chip>
  </div>

  <div class="main-screen">
    <div class="actions-container">
      <div (click)="openDialog(this.createRoomDialog)" class="button font-red">
        <span class="button-text"> 部屋作成 </span>
      </div>

      <div (click)="openDialog(this.entryDialog)" class="button font-yellow">
        <span class="button-text"> 部屋参加 </span>
      </div>
    </div>
  </div>
</div>
