<div class="enemy-img-container">
  <div class="enemy-img">敵</div>
</div>

<div class="enemy-info-container">
  <mat-progress-bar
    class="hp-margin hp-size"
    color="warn"
    mode="determinate"
    [value]="value"
  >
  </mat-progress-bar>

  <span class="hp-text">
    <span style="margin-right: 1em">HP</span>
    {{ value }}/100
  </span>

  <mat-progress-bar
    class="time-margin time-size"
    color="accent"
    mode="determinate"
    [value]="100"
  >
  </mat-progress-bar>

  <span class="time-text">
    <span>time</span>
    {{ 100 }}s
  </span>
</div>
