.page-size{
  width: 100vw;
  height: 100svh;
  position: relative;
}
.title{
  h1{
    margin-block-start:0;
    user-select: none;

  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: min(50vw, 50svh);
  height: auto;
  min-width: 300px;
  margin: auto auto;
  padding: min(5vw, 5svh);
  padding-block: calc(min(5vw, 5svh) + 16px);
  .comment-input {
    width: 100%;
  }
}
.field-container{
  padding: 0;
}
.field-container:first-child{
  padding-top: 0px !important;
}
.actions-container{
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  button{
    width: 100%;
    height: 50px;
  }
}
.button-under-spacer{
  height: 16px;
  width: 100%;
}
