<div class="page-size">
  <mat-card class="content">
    <mat-card-content class="field-container">
      <mat-card-title class="title"><h2>ユーザネーム登録</h2></mat-card-title>

      <mat-form-field class="comment-input">
        <input
          [(ngModel)]="newUserName"
          matInput
          maxlength="5"
          placeholder="名前(5文字まで)"
        />
      </mat-form-field>

      <mat-card-actions class="actions-container">
        <button (click)="updateUserName()" mat-raised-button color="primary">
          決定
        </button>
      </mat-card-actions>
    </mat-card-content>
    <div class="button-under-spacer"></div>
  </mat-card>
</div>
