.top-item-container{
  display: flex;
  width: 100%;;
}
.back-button{
  margin: 30px;
  width: 150px;
  height: 60px;
}
.win-or-loss-text{
  font-family: 'DotGothic16', sans-serif;
  width: 100%;
  margin: 20% 0;
  text-align: center;
  font-size: 80px;
}
