<div class="dialog-container">
  <h1 class="">部屋を作成しますか▼</h1>
  <mat-dialog-actions>
    <button
      mat-raised-button
      (click)="roomCreation()"
      cdkFocusInitial
      class="left-spacer-yes-button"
    >
      <span
        [ngClass]="{ 'show-cursor': showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
        >▶︎</span
      >
      はい
    </button>

    <button
      mat-raised-button
      mat-dialog-close
      (mouseover)="showCursor = false"
      (mouseout)="showCursor = true"
      class="left-spacer-no-button"
    >
      <span
        [ngClass]="{ 'show-cursor': !showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
      >
        ▶︎
      </span>
      いいえ
    </button>
  </mat-dialog-actions>
</div>
