.dialog-container {
  position: relative;
  margin: 20px;

  width: calc(80vw - 40px);
  min-width: calc(80vw - 20px);
  height: 45svh;

  background-color: #000000;

  span{
    display: flex;
    flex-wrap: nowrap;
    color: #ffffff;
    font-family: 'DotGothic16', sans-serif;
    font-size: max(3vw,3svh);
    font-weight: bold;
  }

  mat-dialog-actions{
    display: flex;
    flex-wrap: wrap;
  }

  .show-cursor{
    visibility: visible !important;
  }
  .cursor-hidden{
    visibility: hidden;
  }
  .cancel-button{
    width: 100%;
    transform: translateX(min(-1vw,-1svh));
    -webkit-transform: translateX(min(-1vw,-1svh));
    .mdc-button__label{
      font-size: max(1.5vw,2.5svh);
    }
    .no-cursor{
      font-size: max(1.5vw,2.5svh);

    }
  }

  .dialog-title-font-style{
    color: #ffffff;
    font-family: 'DotGothic16', sans-serif;
    font-size: max(3vw,3.5svh);
    font-weight: bold;
    padding: 1vw;
    margin: 0;
  }

  button{
    min-width: 120px;
    margin-top: max(3vw,3svh);
    height: max(6vw,6svh);
    max-height: 70px;
    background-color: #00000000 !important;
    margin-right: auto;
    color: #ffffff !important;
    font-family: 'DotGothic16', sans-serif;
    font-size: max(3vw,3svh);
    font-weight: bold;
  }
}

.entry-button{
  width: 100%;
  transform: translateX(min(-1.5vw,-1.5svh));
  -webkit-transform: translateX(min(-1.5vw,-1.5svh));
  margin-left: 1vw;
  .mdc-button__label{
    font-size: max(3vw,5svh);
  }
  .yes-cursor{
    font-size: max(3vw,5svh);
  }
}

.key-field{
  margin-left: min(25%, calc((100% - 200px)/2));
  width: max(50%,200px);
}

.backdrop {
  background-color: rgba(255, 255, 255, 0);
}


.pane{
  .mdc-dialog__surface::before {
    border: 10px solid #000000;
    border-radius: 20px;
    // background-color: rgb(255, 255, 255);
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 20px;
    // background-color: rgb(255, 230, 0);
  }
}
