<div class="dialog-container">
  <h1 class="dialog-title-font-style">参加する部屋のキーを入力してください▼</h1>

  <mat-form-field class="key-field">
    <input matInput [(ngModel)]="key" (keydown.enter)="entryRoom()" />
  </mat-form-field>

  <mat-dialog-actions>
    <button
      mat-raised-button
      (click)="entryRoom()"
      cdkFocusInitial
      class="entry-button"
    >
      <span
        [ngClass]="{ 'show-cursor': showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
        class="yes-cursor"
        >▶︎</span
      >
      参加
    </button>

    <button
      mat-raised-button
      mat-dialog-close
      (mouseover)="showCursor = false"
      (mouseout)="showCursor = true"
      class="cancel-button"
    >
      <span
        [ngClass]="{ 'show-cursor': !showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
        class="no-cursor"
      >
        ▶︎
      </span>
      キャンセル
    </button>
  </mat-dialog-actions>
</div>

<!-- <div class="dialog-container">
  <h1 class="dialog-title-font-style">部屋を作成しますか▼</h1>
  <mat-dialog-actions>
    <button mat-raised-button (click)="roomCreation()" cdkFocusInitial>
      <span
        [ngClass]="{ 'show-cursor': showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
        >▶︎</span
      >
      はい
    </button>

    <button
      mat-raised-button
      mat-dialog-close
      (mouseover)="showCursor = false"
      (mouseout)="showCursor = true"
    >
      <span
        [ngClass]="{ 'show-cursor': !showCursor }"
        class="cursor-hidden"
        style="visibility: hidden"
        >▶︎</span
      >いいえ
    </button>
  </mat-dialog-actions>
</div> -->
