/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./assets/palette" as palette;

@include mat.core();

@import 'ngx-toastr/toastr';

//フォント
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

// primary に先程作成した $custom-primary を指定
$custom-primary: mat.define-palette(palette.$custom-primary);
// secondary はAngular Material のpalette からlight-blue を指定
$custom-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$green-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);


html, body {
  font-family: 'DotGothic16', sans-serif;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-image: url(/assets/images/733900.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  touch-action: none;
}
body {
  font-family: 'DotGothic16', sans-serif;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  touch-action: none;

  }
:root {
  font-family: 'DotGothic16', sans-serif;
  touch-action: none;
}
